{{name}}
<button (click)="f('twin9')">test</button>
<input value ="name">
<br>
<input [value] ="name">
<input [(ngModel)] ="name">
<div class="container">
    <div class="row">
      <div *ngFor="let x of categories "class="col-md-4" style="margin-bottom: 20px;">
        <img [src]="x.image" [alt]="x.image" class="img-fluid h-50 w-75">
        <h3>{{x.title}}</h3>
        <button *ngIf ="x.available" class="btn btn-primary">Voir produits</button>
        <div *ngIf="!x.available">Categories non disponibles</div>
      
      </div>
   
   
     
    </div>
  </div>