/* You can add global styles to this file, and also import other style files */
.test{
  background-color: red;
}

.highlight {
  background-color: yellow;
  padding: 10px;
  border: 1px solid black;
}

.ng-valid{
  border-color: green;
}

.ng-invalid{
  border-color: red;
}
